<div class="row text-center">
  <div class="col">
    <h1 class="title">Articles Table</h1>
    
    <%= link_to 'New Article', new_article_path, class:"btn btn-primary d-block ml-auto mb-3 listing-new-btn" %>
    <br>

    <articles :articles="<%= @articles %>"></articles>
  </div>
</div>
