<div class="row text-center">
  <div class="col">
    <h1 class="title">Drivers Table</h1>
    
    <%= link_to 'New Driver', new_driver_path, class:"btn btn-primary d-block ml-auto mb-3 listing-new-btn" %>
    <br>
    
    <drivers :drivers="<%= @drivers %>"></drivers>
  </div>
</div>